<div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
                <div class="as-searchnav-placeholder" style="height: 77px;">
                    <div class="row as-search-navbar" id="as-search-navbar" style="width: auto; text-align:center;">
                        <div class="as-success-container column large-12 small-3">
                            <h2 class="as-filter-button-text">
                               Estado de la compra: {{collection_status}}
                            </h2>
                            <div>
                                <h3>Detalles de la compra</h3>
                                <li>METODO DE PAGO:  {{payment_type}}</li>
                                <li>EXTERNAL REFERENCE: {{external_reference}}</li>
                                <li>ID PAGO: {{payment_id}}</li>
                            </div>
                            <a href="/">
                                <button class="mercadopago-button-success" style="font-size:2em; margin-top: 1em">
                                    CONTINUAR
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>